%section#our-works
  .container.contents
    .row
      .col-lg-8.col-lg-offset-2
        %h1.title Our Works
        %p.extra
          We are a team of marketers, designers and developers.
          Clients hire us to develop their web and mobile apps.
          We sketch, prototype, make and ship working software.
          After shipping software, we measure and maintain
          use of software. See some examples below.
        %p
          = link_to 'https://www.github.com/lab2023/playbook', target: '_blank' do
            Read more in our playbook
            %i.fa.fa-arrow-circle-right

  .contents-alternate
    .container.contents
      %div.work-item
        .row
          .col-lg-8.col-lg-offset-2
            %h3 Bulutfon Telecommunications Corp.
            %p
              Bulutfon is internet based phone provider which authorized by public authority.
              Our services are voip calls, ip pbx, ivr, voice mail, fax, voice recording and development tools
              for developers (API, SDK). All software infrastructure of Bulutfon is developed by Lab2023.
            %p
              = link_to 'https://www.bulutfon.com/?ref=1', target: '_blank' do
                Visit project
                %i.fa.fa-arrow-circle-right
        .row
          .col-lg-10.col-lg-offset-1
            = link_to 'https://www.bulutfon.com/?ref=1', target: '_blank' do
              = image_tag 'works/bulutfon.png', class: 'img-responsive'

      %hr.divider/

      %div.work-item
        .row
          .col-lg-8.col-lg-offset-2
            %h3 Diagnoscope Symptom Checker Apps
            %p
              Diagnoscope is a symptom checker application. It analyzes the symptoms that you selected,
              compares them with those of any known disease, informs you about your health status and
              directs you to the appropriate specialist. We develop web, iPhone, iPad apps for end
              users and admin panel for admins.
            %p
              = link_to 'http://www.diagnoscope.com/', target: '_blank' do
                Visit project
                %i.fa.fa-arrow-circle-right
        .row
          .col-lg-8.col-lg-offset-2
            = link_to 'http://www.diagnoscope.com/', target: '_blank' do
              = image_tag 'works/diagnoscope.png', class: 'img-responsive'

      %hr.divider/

      %div.work-item
        .row
          .col-lg-8.col-lg-offset-2
            %h3 Aydede - Your Gateway to Global Innovation in Merchandising
            %p
              Aydede's aim to help brands create the personal relationships they need
              with their customers via unique designs that deliver
              emotionally satisfying consumer experience.
              %br/
              We have redesigned their logo and website.

            %p
              = link_to 'http://www.aydede.com/', target: '_blank' do
                Visit project
                %i.fa.fa-arrow-circle-right
        .row
          .col-lg-8.col-lg-offset-2
            = link_to 'http://www.aydede.com/', target: '_blank' do
              = image_tag 'works/aydede.png', class: 'img-responsive'

            %p.extra
              = link_to 'mailto:hello@lab2023.com', class: 'btn btn-primary big-buttons' do
                %strong Want us to work for you?
                Click here to hire us

%section#our-team
  .container.contents
    .row
      .col-lg-8.col-lg-offset-2
        %h1.title Our Team
        %p.extra
          lab2023 was founded in 2010.
          We care about quality, craft, and disciplined experimentation.
          %br/
          We are active contributors to open source software.
        %p
          = link_to 'https://github.com/lab2023', target: '_blank' do
            Use our open source software
            %i.fa.fa-arrow-circle-right

    .row
      .col-lg-10.col-lg-offset-1
        %ul.team-members
          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/onurozgurozkan', target: '_blank' do
              .image-filter
              = image_tag 'team/onur-ozgur-ozkan.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Onur Ozgur OZKAN | Co-founder
              %p.content
                I graduated in economics. I am the creator of Kebab Project, co-founder at Lab2023, Bulutfon and Qudea,
                public speaker, open source developer.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/toziserikan', target: '_blank' do
              .image-filter
              = image_tag 'team/tayfun-ozis-erikan.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Tayfun Ozis ERIKAN | Co-founder &amp; CEO
              %p.content
                Web Developer, Graphic & Web Designer
                Ruby, Ruby on Rails, Ext JS & Sencha Touch, jQuery, OS X User. Kebab Project Developer. Public Speaker.
                Co-Founder of Lab2023 Information Technologies, Bulutfon Telecommunication and Qudea, Inc.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/Sevliya', target: '_blank' do
              .image-filter
              = image_tag 'team/serdar-yagci.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Serdar YAGCI | Web - Mobile Developer
              %p.content
                He knows PHP, Objective - C and Javascript Frameworks. He is photographer and traveler.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/isoakbudak', target: '_blank' do
              .image-filter
              = image_tag 'team/ismail-akbudak.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Ismail AKBUDAK | Web - Mobile Developer
              %p.content
                Software Developer, PHP, CodeIgniter, Ruby On Rails, JavaScript, JQuery, Founder Of Hepgezelim.
                I love to use Ubuntu, to follow new technologies and electronics.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/klapancg', target: '_blank' do
              .image-filter
              = image_tag 'team/clara-isabel-pantoja.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Clara Isabel PANTOJA MUÑOZ | Graphic Designer
              %p.content
                Creative and proactive person of graphic communication design and emphasis in multimedia design.
                Interested in interactive design and information technology projects. Has great motivation for photography,
                visual effects and web design. Likes music, museums and the integration of art and technology in her work.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'https://twitter.com/kamilagareeva1', target: '_blank' do
              .image-filter
              = image_tag 'team/kamila-gareeva.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Kamila GAREEVA | Graphic Designer
              %p.content
                Graphic artist, 2D animator, graphic - designer

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'https://twitter.com/mrahmikurtul', target: '_blank' do
              .image-filter
              = image_tag 'team/murat-rahmi-kurtul.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Murat Rahmi KURTUL | Web - Mobile Developer
              %p.content
                Web - mobile developer.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'https://twitter.com/esrefviduslu', target: '_blank' do
              .image-filter
              = image_tag 'team/esref-viduslu.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Eşref VİDUŞLU | Web Developer
              %p.content
                Ruby on Rails web-software developer, old java fan (still interested) and now Ruby on Rails fan.
                Books and theater are indispensable. Office theater organization and event manager.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'https://twitter.com/h_1520', target: '_blank' do
              .image-filter
              = image_tag 'team/hamdi-bayhan.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Hamdi BAYHAN | Web - Software Developer
              %p.content
                He is technology enthusiast, Web developer and Software developer. He likes follow and implement the new technology developments
                especially web, robotic, artificial intelligence. Also he is nature volunteer and interested in with agriculture.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/fadimezhan', target: '_blank' do
              .image-filter
              = image_tag 'team/fadime-ozhan.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Fadime OZHAN | Web Developer
              %p.content
                I'am interested in web technologies, mostly back-end. Also interested in Ruby, Ruby on Rails and Linux.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/salimgrsy', target: '_blank' do
              .image-filter
              = image_tag 'team/salim-gursoy.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Salim GÜRSOY | UI Designer
              %p.content
                Works with Sketch, Photoshop CC, Zeplin.io, Invisionapp, Principle, Balsamiq, more for prototyping,
                collaboration and workflow platforms.Interested in new apps and platforms.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'https://twitter.com/olcay_yaclo', target: '_blank' do
              .image-filter
              = image_tag 'team/olcay-oransoy.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Olcay ORANSOY | Intern
              %p.content
                Olcay is probably the youngest Ruby on Rails developer in the country.
                He is our youngest intern. He started to use computer at the age of 3.
                He works hard on developing his skills on every aspects of web development.
                But his main area of interest is backend systems.
                He is a Hot Wheels collectionner and one of the biggest Top Gear fans.

        %p.extra
          = link_to 'mailto:hello@lab2023.com', class: 'btn btn-primary big-buttons' do
            %strong Want to join our team?
            Click here to apply


%section#contact-us.contents-alternate
  .container.contents
    %h1 Contact Us
    %h4 Lab2023 Information Technologies Corp.
    %address
      Pamukkale Teknokent D-Block 116-117 Denizli / TURKEY
      %br/
      = mail_to 'hello@lab2023.com', 'hello@lab2023.com', subject: 'Hello Lab2023'
      |
      %a{href: 'tel:+908508850522'}+90 850 885 0 522
      %br/
      = link_to "https://www.google.com/maps/place/37°44'19.7%22N+29°05'35.2%22E/@37.7386245,29.0928367,357m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", target: '_blank' do
        %i.fa.fa-map-marker
        37.7386245, 29.0928367


    %ul.social
      %li{'data-toggle' => 'tooltip', title: 'GitHub'}
        = link_to 'https://github.com/lab2023', target: '_blank' do
          %i.fa.fa-github.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Dribbble'}
        = link_to 'https://dribbble.com/lab2023', target: '_blank' do
          %i.fa.fa-dribbble.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Twitter'}
        = link_to 'https://twitter.com/lab2023', target: '_blank' do
          %i.fa.fa-twitter.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Facebook'}
        = link_to 'https://www.facebook.com/lab2023', target: '_blank' do
          %i.fa.fa-facebook.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Flickr'}
        = link_to 'https://www.flickr.com/photos/122188945@N05', target: '_blank' do
          %i.fa.fa-flickr.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'YouTube'}
        = link_to 'http://www.youtube.com/user/thelab2023', target: '_blank' do
          %i.fa.fa-youtube-square.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Vimeo'}
        = link_to 'http://www.vimeo.com/lab2023', target: '_blank' do
          %i.fa.fa-vimeo-square.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'RSS'}
        = link_to 'http://lab2023.com/feed.xml', target: '_blank' do
          %i.fa.fa-rss.fa-3x
    %p.extra
      = link_to 'mailto:hello@lab2023.com', class: 'btn btn-primary big-buttons' do
        %strong Want us to work for you?
        Click here to hire us
